{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Odjezděnka 2.0{% else %}Odjezděnka 2.0{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Odjezděnka v2.0</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for("mylinks") }}">Mé odkazy</a></li>
      </ul>
      <p class="navbar-text navbar-right">
          {% if current_user.is_anonymous %}
            <a href="{{url_for('login')}}">Přihlásit</a>
          {% else %}
            Přihlášen jako <a href="{{url_for('user')}}" class="">{{current_user.username}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('logout')}}">Odhlásit</a></li>
          {% endif %}
      </p>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}