{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block title %}
    Upravit odkaz {{ link.name }}
{% endblock %}

{% block app_content %}
    <h1>Odkaz: {{ link.name }} <small>Počet návštěv: {{ link.accessed }} (naposledy navštíveno: {{ link.last_access.strftime('%H:%M %d.%m.%Y')|default('nikdy') }}) <a href="{{ url_for("link",linkname=link.name) }}" class="btn btn-default">Prohlédnout</a></small></h1>
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
        {% for connection in link.connections %}
                <div class="col-md-4">
                    <h3>{{ connection.departure }} -> {{ connection.destination }}
                        {% if connection.through|length %}<br><small>Přes: {{ connection.through }}</small>{% endif %}
                        {% if connection.direct_only is true %}<br><small>Pouze přímá spojení</small>{% endif %}
                        {% if connection.lowtransport_only is true %}<br><small>Spojení pro kočárky</small>{% endif %}
                        {% if connection.wheelchair_only is true %}<br><small>Pouze bezbariérová spojení</small>{% endif %}
                    </h3>
                    {% if not loop.first %}
                        <a href="{{ url_for("moveleft", id=connection.id) }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
                    {% endif %}
                    {% if not loop.last %}
                        <a href="{{ url_for("moveright", id=connection.id) }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                    {% endif %}
                    <a href="{{ url_for("deleteconnection", id=connection.id) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </div>
            {% if loop.index % 3 == 0 %}
                </div><div class="row">{% endif %}
            {% else %}
                <div class="col-md-4"><h3>Zatím tu nemáte žádná spojení</h3></div>
            {% endfor %}
            <div class="col-md-4"><h3>Přidat nové spojení</h3>
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

