{% extends 'base.html' %}
{% block title %}
    Index
{% endblock %}

{% block app_content %}
<h1>Odjezděnka v2.0</h1>
    <p class="lead">Odjezděnka je jednoduchý webový systém, který usnadňuje hledání spojů z obvyklých míst. Po přihlášení si můžete vytvořit vlastní odkaz, který vám zobrazí výsledky podobně jako toto <a href="/demo">demo</a> zobrazuje spoje z Můstku na jednotlivé konečné stanice metra.</p>
{% endblock %}