{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block title %}
    Spojení: {{ link.name }}
{% endblock %}

{% block app_content %}
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            {% for (connection,dpp) in routes %}
                <div class="col-md-4">
                    <h3 class="text-center">{{ connection.departure }} -> {{ connection.destination }}
                        {% if connection.through|length %}<br><small>Přes: {{ connection.through }}</small>{% endif %}
                        {% if connection.direct_only is true %}<br><small>Pouze přímá spojení</small>{% endif %}
                        {% if connection.lowtransport_only is true %}<br><small>Spojení pro kočárky</small>{% endif %}
                        {% if connection.wheelchair_only is true %}<br><small>Pouze bezbariérová spojení</small>{% endif %}
                    </h3>
                    {% if dpp is none %}
                        <div class="bg-danger text-center" >
                            <strong>Spojení se nepodařilo nalézt!</strong></div>
                    {% else %}
                        {%  for route in dpp.connections %}
                            <table style="width: 100%">
                            {% for part in route.timeline %}
                                <tr>
                                {% if part.text is defined %}
                                    <td colspan="3" style="text-align: center"><i>{{ part.text }}</i></td>
                                {% else %}
                                    <td style="text-align: left;width:33%;"> <b>{{ part.from_station }}</b> ({{ part.from_time }})</td>
                                    <td style="text-align: center;width:33%;"> {{ part.line|upper }} </td>
                                    <td style="text-align: right;width:33%;">({{ part.to_time }}) <b>{{ part.to_station }}</b></td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                            </table>
                            <hr>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if loop.index % 3 == 0 %}
                    </div><div class="row">{% endif %}
            {% else %}
                <div class="col-md-4"><h3>Zatím tu nemáte žádná spojení</h3></div>
            {% endfor %}
            </div>
            </div>
    </div>
{% endblock %}

