{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block title %}
    Index
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Přihlášení do Odjezděnky</h2>
            {{ wtf.quick_form(form) }}
            <br>
            <p>Pokud nemáte účet, můžete se <a href="{{ url_for("register") }}">zaregistrovat</a></p>
        </div>
    </div>
{% endblock %}