{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block title %}
    Mé odkazy
{% endblock %}

{% block app_content %}
    <h1>Mé odkazy</h1>
    {% if links is defined %}
        <table class="table">
        <thead><tr><th>ID</th><th>Adresa</th><th>Počet návštěv adresy</th><th>&nbsp;</th></tr></thead>
        {% for link in links %}
            <tr>
                <td>{{ link.id }}</td>
                <td><a href="/{{ link.name }}">{{ link.name }}</a></td>
                <td>{{ link.accessed }}</td>
                <td><a href="{{ url_for('editlink', linkname=link.name) }}" class="btn btn-primary">Upravit odkaz</a></td>
                <td><a href="{{ url_for('deletelink', linkname=link.name) }}" class="btn btn-danger" onclick='return confirm("Opravdu chcete {{ link.name }} smazat? Operace je nevratná!")'>Smazat odkaz</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p class="bg-info">Zatím nemáte žádné odkazy, můžete si je ale vytvořit</p>
    {% endif %}

    <a href="{{ url_for('newlink') }}" class="btn btn-primary btn-lg btn-block">Vytvořit nový odkaz</a>
{% endblock %}

