{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block title %}
    Index
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <h2>Registrace nového účtu</h2>
        {{ wtf.quick_form(form) }}
            <br>
            <p>Email bude použit jen k případnému kontaktování uživatelů v případě technických záležitostí, klidně můžete vyplnit nesmysl, nebo něco z <a href="https://10minutemail.com/">10minutmail.com</a>. Email se neověřuje.</p>
{% endblock %}