{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block title %}
    Úprava uživatelského účtu
{% endblock %}

{% block app_content %}
    <h1>Vítejte, uživateli {{ current_user.username }}</h1>
    <h4>Změnit heslo</h4>
    {{ wtf.quick_form(form) }}
{% endblock %}


